{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Git File Filter</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>
    <header>
        <h1><a href="/">Git File Filter</a></h1>
    </header>
    <nav>
        <a href="/search">Search</a>
        <a href="/filter">Filter</a>
        <a href="/">Files</a>
        <a href="/configs">Configs</a>
    </nav>
    <section>
        {{template "body" .}}
    </section>
    {{template "footer" .}}

    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}
