<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go-Git-Webapp</title>

  <!-- bootstrap cdn links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  <style>
    html {
      font-family: 'Lato';
    }

    nav {
      margin-bottom: 10px;
    }

    section {
      margin-bottom: 10px;
    }

    .col2 {
      color: red;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Go-Git-Webapp</a>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <section id="form">
        <form action="http://127.0.0.1:7000/data" methods="get" enctype="application/x-www-form-urlencoded">
          <div class="form-group">
            <label for="url">Git repository URL</label>
            <input type="text" class="form-control" id="url" placeholder="https://github.com/testname/testrepo"
              name="url" required>
          </div>
          <div class="form-group">
            <label for="commit">Commit hash</label>
            <input type="text" class="form-control" id="commit" placeholder="9312jkasdn1230idsa" name="commit">
          </div>
          <div class="form-group">
            <label for="dir">Directory</label>
            <input type="text" class="form-control" id="dir" placeholder="some-dir-name" name="dir">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
    {{if .}}
    <section id="content">
      <table class="table table-stripped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col2">{{.BaseURL}}</th>
            <th scope="col" class="col2">{{.BaseHash}}</th>
            <th scope="col" class="col2">{{.BaseDir}}</th>
          </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Commit</th>
            <th scope="col">File</th>
          </tr>
        </thead>
        <tbody>
          {{$data := .Coll}}
          {{range $i, $v := $data}}
          <tr>
            <th scope="row">{{$i}}</th>
            <td>{{$v.Hash}}</td>
            <td>
              <a href="{{$v.FileURL}}">
                {{$v.File}}
              </a>
            </td>
          </tr>
          {{end}}
          <tr>
            <th scope="row">
              <form action="http://127.0.0.1:7000/download" methods="get" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="btn btn-secondary">Download</button>
              </form>
            </th>
          </tr>
        </tbody>
      </table>
    </section>
    {{end}}
  </div>
</body>

</html>